@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Integrantes
    </h1>
    <p>Larissa Fernandes Cariús - 2022101873</p>
    <p>Carlos Eduardo Ferreira - 2022101225</p>
    <p>Cícero Moraes Mattos de Paula - 2022101193</p>
    <p>Paulo Henrique da Silva Raposo - 2022101250</p>
</div>
